@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="./css/slick.css" />
    <link type="text/css" rel="stylesheet" href="./css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="./css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="./css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
@inject LanguageService language
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> TL</a></li>
                    <li><a href="#"><i class="fa fa-user-o"></i> @language.Getkey("Hesabim")</a></li>
                    <div class="nav-wrapper">
                        <div class="sl-nav">
                            Dil:
                            <ul>
                                <li>
                                    <div class="triangle"></div>
                                    <ul class="language">
                                        <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link">@language.Getkey("Dil2")</a></li>
                                        <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="nav-link">@language.Getkey("Dil1")</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">@language.Getkey("Tum_Urunler")</option>
                                    <option value="1">@language.Getkey("Spor_Kategori")</option>
                                    <option value="2"> @language.Getkey("Aksiyon_Kategori")</option>
                                    <option value="3">@language.Getkey("Strateji_Kategori")</option>
                                </select>
                                <input class="input" placeholder=@language.Getkey("Arama")>
                                <button class="search-btn">@language.Getkey("Arama")</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                    <span> @language.Getkey("Kutuphane")</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span> @language.Getkey("Sepet")</span>
                                    <div class="qty">3</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>980.00 TL</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>

                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/img/product02.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">Ürün Adı</</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>980.00 TL</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="cart-summary">
                                        <small>3 Ürün Ekli</small>
                                        <h5>Sepet Tutarı: 1000 TL</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="#">@language.Getkey("Sepete_Git")</a>
                                        <a href="#"> @language.Getkey("Hizli_Siparis") <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#"> @language.Getkey("Ana_Sayfa")</a></li>
                    <li><a href="#">@language.Getkey("Indirimli_Urunler")</a></li>
                    <li><a href="#"> @language.Getkey("Spor_Kategori")</a></li>
                    <li><a href="#">@language.Getkey("Aksiyon_Kategori")</a></li>
                    <li><a href="#"> @language.Getkey("Strateji_Kategori")</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/img/product01.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>

                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                            <h4 class="product-price">980.00 TL <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>

                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/img/product02.png" alt="">
                                            <div class="product-label">

                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                            <h4 class="product-price">980.00 TL <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>

                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/img/product03.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                            <h4 class="product-price">980.00 TL <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                            </div>

                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/img/product04.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                            <h4 class="product-price">980.00 TL <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>

                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/img/product05.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Category</p>
                                            <h3 class="product-name"><a href="#">Ürün Adı</a></h3>
                                            <h4 class="product-price">980.00 TL <del class="product-old-price">$990.00</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>

                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- /SECTION -->
    <!-- SECTION -->
    <!-- /SECTION -->
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <a href="mailto:erolemrecan@outlook.com"> @language.Getkey("Sorun_Iletimi") <i class="fa fa-envelope-open"></i></a>
                        <br>
                        <br>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">@language.Getkey("Hakkimizda")</h3>
                            <p>Berkay Aygül, Emre Can Erol</p>
                            
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>erolemrecan@outlook.com</a></li>
                                <li><a><i class="fa fa-arrow-down"></i>Our Location</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">@language.Getkey("Kategoriler")</h3>
                            <ul class="footer-links">
                                <li><a href="#">@language.Getkey("Indirimli_Urunler")</a></li>
                                <li><a href="#">@language.Getkey("Spor_Kategori")</a></li>
                                <li><a href="#">@language.Getkey("Aksiyon_Kategori")</a></li>
                                <li><a href="#">@language.Getkey("Strateji_Kategori")</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title"> @language.Getkey("Bilgi")</h3>
                            <ul class="footer-links">
                                <li><a href="#"> @language.Getkey("Hakkimizda")</a></li>
                                <li><a href="mailto:erolemrecan@outlook.com">@language.Getkey("Iletisime_Gecme") </a></li>
                                <li><a href="#"> @language.Getkey("Gizlilik_Politikasi")</a></li>
                                <li><a href="#"> @language.Getkey("Iade_Sartlari")</a></li>
                                <li><a href="#">@language.Getkey("Sartlar_ve_Sozlesmeler")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
      
            <div id="map" style=" height: 400px; width: 100%; position:absolute; overflow: hidden">

            </div>
        
       
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?AIzaSyDN6ouOIetcTEeu9NcrrWK5idnl_w7VEZQ&callback=initMap"></script>
    <script>

        function initMap() {
            var options = {
                zoom: 12,  
                center: { lat: 40.76371, lng: 30.36784 },
                mapTypeId: 'satellite'
            }

            var map = new google.maps.Map(document.getElementById("map"), options);

            var marker = new google.maps.Marker({
                position: { lat: 40.76371, lng: 30.36784 },
                map: map
            });

            var info = new google.maps.InfoWindow({
                content: '<h3> Our Location </h3>'
            });

            marker.addEventListener('click', function () {
                info.open(map, marker);
            })
        }

    </script>

</body>
</html>
